1. In a markdown cell, describe what each of the following operators/methods allows you to subset from a data
frame (that is, describe all of the types of subsetting you can do with the operator):

• `[]`


*   You can access the columns using a string of column names

    ex: `Index(['1st', '2nd'])`
*   You can index the rows by slicing

    ex: `my_df[3:5]`
    
    but you can’t return a single row with just a number, such as `my_df[1]`, you would need to include colon: `my_df[1:2]`
*   You can use Boolean object to subset an array including compound Booleans

    ex: `my_df['Name'] == 'Alice'` creates a boolean array showing True just in the 'Alice' row and false everywhere else

    ex: `my_df[my_df['Age'] > 21]` returns only rows that match

• `.iloc[]` Allows you to access rows by their integer location

*   this will return a row or rows as a series

    ex: `my_df.iloc[0]`  or `my_df.iloc[[0,1]]`

*   Allows for subsetting by columns as well

    ex: `my_df.iloc[[3:6], [0:2]]`  gives rows (3,4, 5), columns (0,1)

• `.loc[]` is similar to `.iloc` but allows for subsetting based on labels or booleans

*  using labels

    ex: `my_df2.loc["b":"e"]` - includes the last value since this is labels so rows b, c, d, and e are returned
*  You can use slicing

    ex: `my_df.loc[2:5]` - includes the last value! (again interpreted as labels)

    ex: `my_df.loc[:3, ['Name', "Major"]]` - returns rows 0 to 3 and columns with 'Name', "Major".

*   You can use Boolean

    ex: `my_df.loc[my_df['Age'] > 21]`
    ex: `my_df.loc[my_df["Age"] > 21, my_df.columns.isin(["Name", "Age"])]`

2. BreastCancer.dat data file available https://www4.stat.ncsu.edu/online/datasets/BreastCancer.dat. Upload this file to your Colab notebook and
read it in using a relative file path (just the file name).

    a. Save the data as an object called cancer_data.

    b. Use the .head() method to look at the data.

    c. Return just the grade column using the column attribute

    d. Use the .loc[] method to print out all rows where the size is larger than 30.

    e. Use the .loc[] method to print out all rows where the size is greater than 30 and the grade is 3.

    f. Use [] to return just the age, size, and grade columns.

    g. Use .loc[] to return the rows where meno is equal to premenopausal along with the age, size, and grade columns.

In [ ]:
import pandas as pd

# 2a: save the data
cancer_data = pd.read_csv("https://www4.stat.ncsu.edu/online/datasets/BreastCancer.dat", sep="\t")

# 2b: looking at data
cancer_data.head()

# 2c: Return the grade column
cancer_data.columns
display(cancer_data['grade'])

# 2d: Use the .loc[] method to print out all rows where the size is larger than 30.
cancer_data.loc[cancer_data['size'] > 30]

# 2e: Use the .loc[] method to print out all rows where the size is greater than 30 and the grade is 3.
cancer_data.loc[(cancer_data['size'] > 30) & (cancer_data['grade'] == 3)]

# 2f: Use [] to return just the age, size, and grade columns.
cancer_data[['age', 'size', 'grade']]

# 2g. Use .loc[] to return the rows where meno is equal to premenopausal with the age, size, and grade columns.
cancer_data.loc[cancer_data['meno'] =='premenopausal',["age", "size", "grade"]]

     age  size  grade
0     49    18      2
3     45    25      3
5     48    52      2
6     48    21      3
7     37    20      2
..   ...   ...    ...
669   38    61      2
673   47    70      2
679   43    20      2
681   51    30      3
684   44    21      2

[290 rows x 3 columns]

3. There are two files about mosquitos available at:
• https://www4.stat.ncsu.edu/~online/datasets/mosquito.txt
• https://www4.stat.ncsu.edu/~online/datasets/mosquito2.txt

    a. Determine the delimiter and read in the mosquito.txt file as an object called mosq_data.

    b. Similarly, read in the mosquito2.txt file. Note this file doesn’t contain column names! The columns are the same as the other file though. Use an attribute from mosq_data to assign the column names in the function call in which you read in the data. Save this data as an object called mosq_data2.

   c. Combine the two datasets into one data frame using the concat() function from pandas (see https://pandas.pydata.org/docs/reference/api/pandas.concat.html)

In [ ]:
import pandas as pd

# 3a: save the mosquito data
mosq_data = pd.read_csv("https://www4.stat.ncsu.edu/online/datasets/mosquito.txt", sep="&")
mosq_data.info()

# 3b: save the mosquito2 data with the column headings of mosquito data
mosq_data2 = pd.read_csv("https://www4.stat.ncsu.edu/online/datasets/mosquito2.txt", sep="\t", names=mosq_data.columns)
mosq_data2.info()

#3c: combine them using concat()
mosq_data3 = pd.concat([mosq_data, mosq_data2])
mosq_data3.info()

mosq_data
mosq_data2
mosq_data3

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 37 entries, 0 to 36
Data columns (total 4 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   Day       37 non-null     int64
 1   Cage      37 non-null     int64
 2   trt       37 non-null     object
 3   Response  37 non-null     int64
dtypes: int64(3), object(1)
memory usage: 1.3+ KB
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 30 entries, 0 to 29
Data columns (total 4 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   Day       30 non-null     int64
 1   Cage      30 non-null     int64
 2   trt       30 non-null     object
 3   Response  30 non-null     int64
dtypes: int64(3), object(1)
memory usage: 1.1+ KB
<class 'pandas.core.frame.DataFrame'>
Index: 67 entries, 0 to 29
Data columns (total 4 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   Day       67 non-null     int64
 1   Cage      67 non-null     int64
 2   trt       67 non-null     object
 3   Response  67 non-null     int64
dtypes: int64(3), object(1)
memory usage: 2.6+ KB

    Day  Cage trt  Response
0     1     1  T2        42
1     2     1  T1        44
2     2     2  T2        42
3     3     1  T1        25
4     3     2  T3        33
..  ...   ...  ..       ...
25   28     2  T3        39
26   29     1  T2        33
27   29     2  T3        39
28   30     1  T1        42
29   30     2  T2        42

[67 rows x 4 columns]

**Summarizing Data Numerically**

**Task 1: Read in the data**. Check out the first few observations of the data.

In [ ]:
import pandas as pd

# Read in student data
stud_data = pd.read_csv("https://www4.stat.ncsu.edu/online/datasets/StudentData.txt", sep=";")
stud_data.head()

,school,sex,age,address,famsize,Pstatus,Medu,Fedu,Mjob,Fjob,...,famrel,freetime,goout,Dalc,Walc,health,absences,G1,G2,G3
0,GP,F,18,U,GT3,A,4,4,at_home,teacher,...,4,3,4,1,1,3,6,5,6,6
1,GP,F,17,U,GT3,T,1,1,at_home,other,...,5,3,3,1,1,3,4,5,5,6
2,GP,F,15,U,LE3,T,1,1,at_home,other,...,4,3,2,2,3,3,10,7,8,10
3,GP,F,15,U,GT3,T,4,2,health,services,...,3,2,2,1,1,5,2,15,14,15
4,GP,F,16,U,GT3,T,3,3,other,other,...,4,3,2,1,2,5,4,6,10,10

**Task 2: Summarize the Data**
This data has many categorical variables and a few numeric. You should do the following:

**Categorical variables**

• Create a one-way contingency table, a two-way contingency table, and a three-way contingency table

– Interpret a number from each resulting table (that is, pick out a value produced and explain what that value means.)

Interpretation: from below

* 1-way table: the number **208** is the number of female students in the student data file.
* 2-way table: the number **14** is the number of male students that studied between 5-10 hours weekly
* 3-way table: the number **96** is the number of female students that study between 2-5 hours weekly and whose parents are living apart

In [ ]:
# sex is first categorical data
stud_data["sexC"]=stud_data.sex.astype("category")
stud_data.sexC = stud_data.sexC.cat.rename_categories(["Female", "Male"])
stud_data.sexC.value_counts()

# studytime is second categorical data
stud_data["studytimeC"]=stud_data.studytime.astype("category")
stud_data.studytimeC = stud_data.studytimeC.cat.rename_categories(["<2hrs", "2-5hrs", "5-10hrs", ">10hrs"])
stud_data.studytimeC.value_counts()

# Ptatus is third categorical data
stud_data["PstatusC"]=stud_data.Pstatus.astype("category")
stud_data.PstatusC = stud_data.PstatusC.cat.rename_categories(["Together", "Apart"])
stud_data.PstatusC.value_counts()

PstatusC
Apart       354
Together     41
Name: count, dtype: int64

In [ ]:
# creating a 2-way contingency table with sex and hours studying
pd.crosstab(
    stud_data.sexC,
    stud_data.studytimeC,
    margins=True
)

studytimeC  <2hrs  2-5hrs  5-10hrs  >10hrs  All
sexC
Female         27     113       51      17  208
Male           78      85       14      10  187
All           105     198       65      27  395

In [ ]:
# creating a 3-way contingency table with sex and hours studying and parental status
my_tab = pd.crosstab(
    [stud_data.sexC,
    stud_data.studytimeC],
    stud_data.PstatusC,
    rownames=["Sex", "Study Time"],
    colnames=["Parent status:"]
)
my_tab

Parent status:     Together  Apart
Sex    Study Time
Female <2hrs              3     24
       2-5hrs            17     96
       5-10hrs            2     49
       >10hrs             1     16
Male   <2hrs              6     72
       2-5hrs             9     76
       5-10hrs            2     12
       >10hrs             1      9

Create a conditional two-way table. That is, condition on one variable’s setting and create a two-way table. Do this using two different methods:

– Once, by subsetting the data (say with .loc) and then creating the two-way table

– Once, by creating a three-way table and subsetting it

In [ ]:
# subsetting the data using .loc and creating a 2-way table
stud_data.loc[stud_data["sexC"] == "Female",["studytimeC", "PstatusC"]]

    studytimeC  PstatusC
0       2-5hrs  Together
1       2-5hrs     Apart
2       2-5hrs     Apart
3      5-10hrs     Apart
4       2-5hrs     Apart
..         ...       ...
385    5-10hrs     Apart
386      <2hrs     Apart
387    5-10hrs     Apart
388     2-5hrs     Apart
389     2-5hrs     Apart

[208 rows x 2 columns]

In [ ]:
# create a 3-way table
three_way = pd.crosstab(
    index=stud_data['studytimeC'],
    columns=[stud_data['sexC'], stud_data['PstatusC']], # Added a comma here
    rownames = ["Study Time"],
    colnames = ["Sex", "Parent Status"]
)

# subsetting a 3-way table
three_way['Female']

Parent Status  Together  Apart
Study Time
<2hrs                 3     24
2-5hrs               17     96
5-10hrs               2     49
>10hrs                1     16

**Numeric variables (and across groups)**

The numeric variables are age, absences, and the three test grades variables (G1, G2, and G3).

• Find measures of center and spread for three of these variables (including G3 as one of them)

In [ ]:
# full suite of measurements
stud_data[["age", "absences", "G3"]].describe()

stud_data[["age", "absences", "G3"]].describe().loc[["mean", "std"]]

            age  absences         G3
mean  16.696203  5.708861  10.415190
std    1.276043  8.003096   4.581443


– Repeat while subsetting the data by some grouping variable (say with .loc)

In [ ]:
# subsetting on those that want to go to college
stud_data.loc[stud_data['higher'] =="yes", ['age', 'absences','G3']].describe().loc[['mean', 'std']]

# subsetting on those that don't want to go to college (just curious)
stud_data.loc[stud_data['higher'] =="no", ['age', 'absences','G3']].describe().loc[['mean', 'std']]

            age   absences        G3
mean  17.850000   7.650000  6.800000
std    1.348488  16.971416  4.829732


• Find measures of center and spread across a single grouping variable for three of these variables (including G3 as one of them)

In [ ]:
# grouping by sex and getting mean and std of G3, age, and abscences
stud_data.groupby("sexC")[["G3", "age", "absences"]].agg(['mean', 'std'])

/tmp/ipython-input-1846845788.py:2: FutureWarning: The default of observed=False is deprecated and will be changed to True in a future version of pandas. Pass observed=False to retain current behavior or observed=True to adopt the future default and silence this warning.
  stud_data.groupby("sexC")[["G3", "age", "absences"]].agg(['mean', 'std'])

               G3                  age            absences
             mean       std       mean       std      mean       std
sexC
Female   9.966346  4.622338  16.730769  1.201696  6.216346  9.445819
Male    10.914439  4.495297  16.657754  1.356181  5.144385  5.980749


• Find measures of center and spread across two grouping variables for three of these variables (including
G3 as one of them)

In [ ]:
# grouping by sex and study time and getting mean and std of G3, age, and abscences
stud_data.groupby(["sexC", "studytimeC"])[["G3", "age", "absences"]].agg(['mean', 'std'])

/tmp/ipython-input-2295048755.py:2: FutureWarning: The default of observed=False is deprecated and will be changed to True in a future version of pandas. Pass observed=False to retain current behavior or observed=True to adopt the future default and silence this warning.
  stud_data.groupby(["sexC", "studytimeC"])[["G3", "age", "absences"]].agg(['mean', 'std'])

                          G3                  age            absences  \
                        mean       std       mean       std      mean
sexC   studytimeC
Female <2hrs        9.851852  4.833407  16.259259  0.984206  6.962963
       2-5hrs       9.495575  4.348899  16.734513  1.180328  6.955752
       5-10hrs     10.725490  4.808652  16.960784  1.280012  4.764706
       >10hrs      11.000000  5.408327  16.764706  1.300452  4.470588
Male   <2hrs       10.115385  5.027149  16.782051  1.447321  5.346154
       2-5hrs      11.070588  3.881544  16.658824  1.268228  5.376471
       5-10hrs     13.857143  2.957575  16.785714  1.311404  3.714286
       >10hrs      11.700000  5.313505  15.500000  0.971825  3.600000


                         std
sexC   studytimeC
Female <2hrs        6.975129
       2-5hrs      11.225282
       5-10hrs      7.201634
       >10hrs       4.048420
Male   <2hrs        7.006170
       2-5hrs       5.524785
       5-10hrs      3.625308
       >10hrs       2.951459

* Create a correlation matrix between all of the numeric
variables

In [ ]:
# Correlation matrix
stud_data[["age", "absences", "G1", "G2", "G3"]].corr()

               age  absences        G1        G2        G3
age       1.000000  0.175230 -0.064081 -0.143474 -0.161579
absences  0.175230  1.000000 -0.031003 -0.031777  0.034247
G1       -0.064081 -0.031003  1.000000  0.852118  0.801468
G2       -0.143474 -0.031777  0.852118  1.000000  0.904868
G3       -0.161579  0.034247  0.801468  0.904868  1.000000

In [ ]:
# File → Download → Download .ipynb